@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* 确保主容器不会被背景覆盖 */
main {
  position: relative;
  z-index: 1;
}
